node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/cypress/reports

/prisma/data.db
/prisma/data.db-journal

/app/styles/tailwind.css
/app/styles/tailwind-base.css
/public/~/styles/tailwind-variants.css
